on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    # add in /vendor/qcom/opensource/securemsm-kernel/securemsm_kernel_vendor_board.mk
    #insmod /vendor/lib/modules/smcinvoke_dlkm.ko
    # add for proc/tzdbg log
    insmod /vendor/lib/modules/tz_log_dlkm.ko
    # add for wlan ko, and must wait cnss2 load done
    insmod /vendor/lib/modules/cnss_prealloc.ko
    insmod /vendor/lib/modules/cnss_nl.ko
    insmod /vendor/lib/modules/wlan_firmware_service.ko
    insmod /vendor/lib/modules/cnss_plat_ipc_qmi_svc.ko
    insmod /vendor/lib/modules/cnss_utils.ko
    insmod /vendor/lib/modules/cnss2.ko

    copy /system/etc/vintf/manifest/android.hardware.health-service.qti.xml /vendor/etc/vintf/manifest/android.hardware.health-service.qti.xml
    chmod 0644 /vendor/etc/vintf/manifest/android.hardware.health-service.qti.xml
    rm /system/etc/vintf/manifest/android.hardware.health-service.qti.xml

on early-boot
    start qseecomd
    start cryptfshw-1-0
 
    setprop recovery.charger_battery 1

    exec -- /system/bin/modprobe -a -d /lib/modules vivo_mb sensors_class vivo_ts vivo-fuel_summary

on property:recovery.charger_battery=1 && property:ro.virtual_ab.enabled=""
    # mount modem here.
    mount vfat /dev/block/bootdevice/by-name/modem /vendor/firmware_mnt ro barrier=1 discard
    # kernel-5.4 charger need start ADSP and then read the SOC
    exec -- /system/bin/modprobe -a -d /lib/modules pmic_glink pdr_interface qmi_helpers rproc_qcom_common qcom_smd qcom_glink_smem qcom_glink

    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko

    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

on property:recovery.charger_battery=1 && property:ro.virtual_ab.enabled=true
    # mount modem here.
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /vendor/firmware_mnt ro barrier=1 discard
    # kernel-5.4 charger need start ADSP and then read the SOC
    exec -- /system/bin/modprobe -a -d /lib/modules pmic_glink pdr_interface qmi_helpers rproc_qcom_common qcom_smd qcom_glink_smem qcom_glink

    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko

    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

# just boot in fastboot mode, fastbootd service need vendor.boot-hal-1-0 & health-hal-2-0
on property:recovery.fastboot_mode=1 && property:ro.virtual_ab.enabled=""
    start health-hal-2-1
    #start vendor.boot-hal-1-0

on property:recovery.fastboot_mode=1 && property:ro.virtual_ab.enabled=true
    start health-hal-2-0

on property:recovery.service=1
    start gatekeeper-1-0
    start keystore2
    start keymint-qti
    start guardianangle
    setprop recovery.state.services.ready 1

on property:recovery.service=1 && property:ro.virtual_ab.enabled=true
    start vendor.boot-hal-1-2

on property:vts_app_recovery.status=run
    start vts_app_recovery
    setprop vts_app_recovery.status running

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    user root
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0

service wait_for_keymaster  /system/bin/wait_for_keymaster
    disabled
    user root
    seclabel u:r:recovery:s0

service qseecomd /vendor/bin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/android.hardware.keymaster@3.0-service-qti
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/android.hardware.keymaster@4.1-service-qti
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service keymint-qti /vendor/bin/android.hardware.security.keymint-service-qti
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service keymaster-4-0 /vendor/bin/android.hardware.keymaster@4.0-service-qti
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service keymaster-sb-4-0 /vendor/bin/android.hardware.keymaster@4.0-strongbox-service-qti
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/android.hardware.gatekeeper@1.0-service-qti
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service cryptfshw-1-0 /vendor/bin/vendor.qti.hardware.cryptfshw@1.0-service-qti
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    disabled
    user system
    group root system
    seclabel u:r:recovery:s0

service keystore2 /system/bin/keystore2 /data/misc/keystore
    disabled
    user keystore
    group keystore drmrpc readproc log
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0

service guardianangle  /system/bin/guardianangle
    disabled
    user root
    seclabel u:r:recovery:s0

service vendor.boot-hal-1-0 /vendor/bin/hw/android.hardware.boot@1.0-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service vendor.boot-hal-1-2 /vendor/bin/hw/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    user root
    group root
    seclabel u:r:recovery:s0

service health-hal-2-1 /vendor/bin/hw/android.hardware.health@2.1-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service vts_app_recovery /system/bin/vts_app_recovery  --update
  user system
  disabled
  seclabel u:r:vts_app:s0
  oneshot
